################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CasinoMortale.Eye/.vs/CasinoMortale.Eye
/CasinoMortale.Eye/CasinoMortale.Eye/Debug/Servo
/CasinoMortale.Eye/CasinoMortale.Eye/Debug/VM_DBG
/CasinoMortale.Eye/CasinoMortale.Eye/Debug/board.buildinfo
/CasinoMortale.Eye/CasinoMortale.Eye/Debug
/CasinoMortale.Eye/CasinoMortale.Eye/__vm
/CasinoMortale.Eye/CasinoMortale.Eye/CasinoMortale.Eye.vcxproj.user
/CasinoMortale.Eye/CasinoMortale.Eye/CasinoMortale.Eye.vcxproj.filters
